
    <div class="row">
        
        <div class="col-lg-12 col-sm-12">
         
            <img class="responsive w-100 mt-5 mb-5" [src]="banner" alt="Code for Interview">
        </div>
    </div>
    <br><br><br><br>
    <h4 class="display-4 mt-5 text-center">Data analysis and clustering</h4>
    <hr class="mb-5 w-25 mt-3" style="border-top: 2px solid #FF8C00; border-radius: 100%;"><br><br>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <p><b>Mahrir Houda</b></p>
            <p>Je suis actuellement étudiante en deuxième année Master Systèmes Informatiques et Mobiles - FST tanger
                <br><br>

            </p>
            <p><b>Amazou soukaina</b></p>
            <p>Je suis actuellement étudiante en deuxième année Master Systèmes Informatiques et Mobiles - FST tanger
                <br><br>

            </p>
        </div>
        <div class="col-lg-6 col-sm-12 mb-5">

            <p><b>Projet Fin de module Architectures distribuées</b></p>
            <p>Projet mise en place d ‘une application web distribuée pour le data analysis and clustering:
            </p>
            <ul>
                <li>L’objectif principal du projet est la réalisation d’une application web distribuée basée sur la
                  technologie spring architecture micro-services, et flutter pour l’analyse, la visualisation et le Clustering
                  des données.</li>

            </ul>
        </div>
    </div><br><br>


    <app-footer></app-footer>
